{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Uncle Vova Real Time News {% endblock %}</h1>

    <br>

    <h2> 12.03.2024 Smegaol, easter, Jesus, and resurrection</h2>

    Smegaol (Vladimir) the new modern Tsar (President) in Z land (Russia) has decided to proclaims the eternal gospel of
    Jesus, so Smegaol feels that he have a mission, to start a holy war against western countries where people living in
    deep sin. He got a power directly from the devil, who is dresses as a holy God, and people in the Z land (Russia)
    have finally eaten Z pill, so they share common mindset with Smegaol and don't want to stop brutal rape operation 
    in Ukraine.

    <h2> 06.03.2024 Sweden NATO ceremonies coming</h2>

    President of Hungary has signed ratification paper related Sweden NATO application and now everything is ready for final ceremonies ...

    <h2> 01.03.2024 New president in Finland</h2>

    At the same time when a new president (Alexander Stubb) is starting his position in Finland, selected in 
    democratic processes there is funeral session in Moscow. Smegaols competitor, 
    <a href="https://en.wikipedia.org/wiki/Alexei_Navalny"> Alexei Navalny</a>  killed by Devil Smegaol itself
    is taking his place underground (R.I.P)

    <h2> 28.02.2024 Sweden will join Nato</h2>

    President 'Smegaol' in Russia will hear soon negative news from western countries. Sweden will be a part of
    NATO in next week and then whole baltic sea will be a 'Nato' sea. And controlled by western armies. This 
    will limit possibilities to distrupt western countries in this area and plan any suprise attacks.

    <br>

	<h2> 24.02.2024 My Satanic two year birthday</h2>

	"Special Operation" in Ukraine still continue 

	<br>
	<br>

	Still I am livin in a different reality and in an eternal war against western countries. I am a man written in the book of Revelations section 13 and my number is 666. My Z ideology is what every russian should follow so to take a mark on head and act so take a mark to right hand. I am using power coming from Joseph Stalin and Dragon, originally the 'T-virus' (COVID-19) created in the land of Dragons (China)
    
    <br>
	<br>

    <h2> <a href="https://www.youtube.com/watch?v=WJ9cw0-yLcc" target="new">James Bond 007 The World is Not Enough</a></h2>

    <table border="1">
        <tr height="300">
        <td>
            <img src="{{url_for('static', filename='/images/klonkku-ydinasejoukot.jpg')}}">
        </td>
        <td>
            <img src="{{url_for('static', filename='/images/world-is-not-enough.jpg')}}">  
        </td>
        </tr>
    </table>
    <br>

    <p>
    <p>
    <h2> Story of the Gollum, Vladimir Vladimirovich Putin </h2>
		
    I am a Gollum, please call me Vova, Vladimir and my tail is hurting because my muzzle is in wrong place.
    During the corona times I had time to go through the 007 movies and I realized that western countries 
    are against us. I realized that my mind went into dark side and I saw a dream and 'God' Lucifer gave me
    a power and promises to takeover the full control in Russia. Lucifer gave me a promises that nobody
    is agains me, a new modern Tsar in Russia and everyone respect me without any conditions. 
 
    <p>

    Then I started to expand my country and plan to takeover Ukraine back to our empire. But something 
    went wrong and now my tail is swinging very fast. And it is getting freezing. Now I fear so but
    Lucifer give me enpowerment every day, so I am getting stronger and stronger...

    <p>
 
    I have also understood that nothing cannot be done so but actually war is ongoing and it will never end. 
    Almost whole army has been destoryed and no future exist until he will lose his power and to be thrown 
    into the lake of fire as it has written in chapter 14 in the book of revelations. 
    No more third Rome, the new Babylon!  
    My final destination after the final judgement is a lake of fire, the place for eternal punishment. 
    </p>

    <p>
    <a href="https://the100.fandom.com/wiki/City_of_Light"> The city of light, third Rome, and Babylon </a> and <a href="https://the100.fandom.com/wiki/A.L.I.E."> A.L.I.E as a Z pill, Key to the City of Light </a> which will connect Z (zero) zombies to the brains of Gollum and they will be no more indenpendent mindset at all 
    </p>

{% endblock %}


