{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to my island, the land of Gollum, your beloved uncle Vova {% endblock %}</h1>

    <br>

	<h2> News </h2>

	Special Operation in Ukraine is over

	<br>

	All the nazies in Ukraine has been eliminated and our troop can came home with their families.
    
    <br>
	<br>

    <h2> James Bond 007 the world is not enough, welcome to my Nuclear Island </h2>

    <img width="50%" height="50%" src="{{url_for('static', filename='/images/klonkku-ydinasejoukot.jpg')}}">

    <br>

    <h2> She is coming </h2>

    <img width="50%" height="50%" src="{{url_for('static', filename='/images/world-is-not-enough.jpg')}}">

    <p>
    <p>
	<h2> Story of the Gollum, Vladimir Vladimirovich Putin </h2>
		
    I am a Gollum, please call me Vova, Vladimir and my tail is hurting because my muzzle is in wrong place. 

	My tail is swinging very fast. And it is getting freezing. Now he has understood that nothing cannot be done so but actually war is ongoing and it will never end. Almost whole army has been destoryed and no future exist until he will lose his power and to be thrown into the lake of fire as it has written in chapter 14 in the book of revelations. No more third Rome, the new Babylon!  
    </p>

    <p>
    <a href="https://the100.fandom.com/wiki/City_of_Light"> The city of light, third Rome, and Babylon </a> and <a href="https://the100.fandom.com/wiki/A.L.I.E."> A.L.I.E as a Z pill, Key to the City of Light </a> which will connect Z (zero) zombies to the brains of Gollum and they will be no more indenpendent mindset at all 
    </p>

{% endblock %}


