{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to see Flask and Python demonstration in Z dystopy web site {% endblock %}</h1>

    <p>
    Gollum (Vladimir) has put his muzzle into wrong place. Now it hurts and tail is swinging very fast. Now he has understood that nothing cannot be done so but actually war is ongoing and it will never end. Almost whole army has been destoryed and no future exist until he will lose his power and to be thrown into the lake of fire as it has written in chapter 14 in the book of revelations. No more third Rome, the new Babylon!  
    </p>

    <p>
    <a href="https://the100.fandom.com/wiki/City_of_Light"> The city of light, third Rome, and Babylon </a> and <a href="https://the100.fandom.com/wiki/A.L.I.E."> A.L.I.E as a Z pill, Key to the City of Light </a> which will connect Z (zero) zombies to the brains of Gollum and they will be no more indenpendent mindset at all 
    </p>

{% endblock %}


